body {
    margin: 0;
    font-family: Comfortaa, Helvetica, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li {
    margin: 0px 6px;
}

a {
    text-decoration: none;
    color: rgb(191, 126, 188);
}

button {
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    border-style: none;
    color: rgb(255, 255, 255);
    background-color: rgb(191, 126, 188);
}

.header {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    padding: 16px 200px 150px;
}

.header-top, .header-content {
    display: flex;
    justify-content: space-between;
}

.header-top {
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.hero-text-main {
    font-size: 48px;
    font-weight: bold;
    width: 400px;
}

.hero-text-second {
    font-size: 24px;
    width: 400px;
    margin: 24px 0px;
}

.header-img {
    max-width: 500px;
    min-width: 0px;
    height: auto;
    border-radius: 20px;
}

.main-content-head {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 70px 0px;
}

.main-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}

.frog-friends {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-frog-img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.main-frog-text {
    text-align: center;
    width: 200px;
    font-weight: bold;
}